.heading h2{
    color: var( --color-heading);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-bottom:1.5rem ;
    width: 100%;
    white-space: nowrap;   
    font-weight: bold;
    font-size: clamp(var(--fs-lg),5vw,var(--fs-xxl));
    font-family: var(--font-sans);

}

.heading h2::after {
    content: "";
    display: block;
    position: relative;
    width: 200px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--color-divider);
}

@media screen and (max-width: 480px) {
    .heading h2::after {
      width: 150px;
    }
  }