*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

*::selection {
    background-color: var(--color-divider);
}
 
 ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-divider);
    border-radius: 5px;
}

body{
    background-color: var(--color-bg);
    font-family: var( --font-sans);
    counter-reset: section;
    line-height: 1.4;
}


a, a:hover {
    color: unset;
    text-decoration: none;
}

.custom-btn {
    border-radius: var(--border-radius);
    color:  var(--color-green);
    border: 1px solid var(--color-green);
    background: transparent;
    padding: 0.75rem 1rem;
    line-height: 1;
    font-size: var(--fs-xs);
    font-family: var(--font-mono);
    
}

.custom-btn:focus{
    outline: none;
}

.custom-btn:hover{
    background-color: var(--color-hover)
}

.links a{
    color: var(--color-light);
    font-size: 22px;
    transition: 0.2s;
    cursor: pointer;
}


.links a:hover{
    color: var(--color-green);    
}

.highlight{
    color: var(--color-heading);
}

.divider{
    height:1px;
    background:var(--color-divider);
}

.section__padding {
    padding: 6rem 2rem ;
}


.max-width{
    max-width: 280px;
}

.custom-link{
  color: var( --color-heading)!important ;
  white-space: nowrap;
  font-weight:bold;
}

.arrow{
  font-weight: normal;
  width: 25px;
  height: 25px;
  
}

.custom-link:hover span{
  border-bottom: 1px solid var(--color-green);
  margin-right: 8px ;
  transition: 0.2s;
}

@media screen and (max-width:1200px){
    .section__padding{
        padding: 5rem 0;
    }
}

@media screen and (max-width: 768px){
    .section__padding {
        padding: 3rem 0.5rem;
    } 
    .footer{
        position: relative!important;
        margin: 2.5rem 0 .5rem 0;
    }
    
}
